<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!--<script src="/static/component/bootstrap-4.3.1/js/bootstrap.bundle.js"  crossorigin="anonymous"></script>-->
{{assets_js "/static/component/bootstrap-4.3.1/js/bootstrap.bundle.js" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top">
    <a class="navbar-brand" href="#">CMDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item  {{if eq .nav `HomeController`}}active{{end}}">
                <a class="nav-link" href="{{urlfor `HomeController.Index`}}">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{if eq .nav `UserController`}}active{{end}}">
                <a class="nav-link" href="{{urlfor `UserController.GetUser`}}">用户管理</a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle  {{if eq .nav `prometheus`}} active {{end}}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Prometheus
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {{if eq .subnav `node`}}active{{end}}" href="{{urlfor `NodeController.Query`}}">节点</a>
                    <a class="dropdown-item {{if eq .subnav `target`}}active{{end}}" href="{{urlfor `TargetController.Query`}}">目标</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item {{if eq .subnav `job`}}active{{end}}" href="{{urlfor `JobController.Query`}}">任务</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <span class="navbar-text mr-2" >
                欢迎{{ .loginUser.Name}}
                <a href="{{ urlfor `AuthController.Logout`}}" class="btn btn-link btn-sm">退出登录</a>
            </span>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>